h2{
  margin-bottom: 0px;
  margin-left: 4%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(55, 55, 55);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 65%;
  height: auto;
}

.btn-edit-delete{
  color: rgb(153, 152, 152);
  cursor: pointer;
  transform: scale(0.6);
  align-items: flex-end;
}

.btn-add{
  margin-top: 4%;
  margin-left: 1%;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: .25rem;
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  cursor: pointer;
  display: inline-flex;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-weight: 400;
  justify-content: left;
  letter-spacing: 1px;
  line-height: 1.25;
  min-height: 2rem;
  padding: 1% 3%;
  width: 100%;
}

.example-list {
  padding: 1% 0%;
  width: 17%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: inline-block;
  background: rgb(220, 217, 217, 0.7);
  margin: 1%;
  border-radius: 5px;
}
