<div  
  *ngFor="let status of statuses"
  class="example-list" 
>
  <div>
    <div style="display: flex; align-items: center;">
      <h2>{{status.name}}</h2>
      <div style="width: 35%; display: flex; justify-content: flex-end;  height: auto;">
        <button mat-icon-button class="btn-edit-delete" (click)="openPopup(status.id)">
          <mat-icon>border_color</mat-icon>
        </button>
        <button mat-icon-button class="btn-edit-delete" (click)="deleteStatusColumn(status.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </div>
      <app-ticket [statusId]="status.id" ></app-ticket> 
    <button class="btn-add" (click)="addTicket(status)">+ ADD NEW TICKET...</button>
  </div>
</div>
