.board-element {
  padding: 2%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.147);
  font-weight: 600;
  color: rgb(57, 57, 57);
  display: flex;
}

.board-handle{
  height: 100% auto;
  padding: 0% 1%;
  margin-top: 1%;
  overflow-x: auto;
  white-space: nowrap;
}

.btn-add-delete{
  background-color: rgba(0, 0, 0, 0.136);
  margin: 2%;
}
