.board-element {
  padding: 2%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.147);
  font-weight: 600;
  color: rgb(57, 57, 57);
}

.board-handle{
  height: 100% auto;
  padding: 0% 1%;
  overflow-x: auto;
  white-space: nowrap;
}
