/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  background-color: #6f85f9;
  background-image: linear-gradient(315deg, #6f85f9 0%, #e477dc 46%, #f0c67f 100%);
}
