<h1 mat-dialog-title>Edit</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Ticket Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ticket Description</mat-label>
    <input matInput [(ngModel)]="data.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button color="primary" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>
