<cdk-virtual-scroll-viewport class="viewport" itemSize="50">
  <div cdkDropList 
  class="example-list" 
  (cdkDropListDropped)="onDrop($event)"
  [cdkDropListData]="tickets"
>
  <div cdkDrag 
      class="example-box" 
      *ngFor="let ticket of tickets" 
      [cdkDragData]="ticket">
      <div style="display: flex; align-items: center;">
        <p class="ticket-title">{{ticket.title}}</p>
        <button mat-icon-button class="btn-edit-delete" (click)="OpenPopup(ticket.id)">
          <mat-icon>border_color</mat-icon>
        </button>
        <button class="btn-edit-delete" (click)="deleteTicket(ticket.id)" >
          <mat-icon>close</mat-icon>
        </button>
      </div>
      
      <hr style="height:1px;border-width:0;color:gray;background-color:gray">
      <p class="ticket-body">{{ticket.description}}</p>
  </div>
</div>
</cdk-virtual-scroll-viewport>


  

